
.post_date{
width: 45px;
height: 85px;
float: left;
text-align: center;
margin-right: 20px;
margin-bottom: 15px;
display: block;
background: #9dcedf;
text-shadow: 0px 1px #81bcd1;
border-radius: 80px;
-moz-border-radius: 80px;
-webkit-border-radius: 80px;
padding: 10px 30px;
color: #fff;

border-top-left-radius: 80px;
border-top-right-radius: 80px;
border-bottom-left-radius: 80px;
border-bottom-right-radius: 80px;
}

.post_day {
font-size: 36px;
margin: 3px;
}
.post_day, .post_year {
display: block;
}

.post{
  margin-top: 20px;
  width: 1000px;
  float: left;
}


.post_title{
  margin-top: 30px;
  font-size: 33px;
}

.post_tag{
  float: left;
}

.post_tag_image{
  float: left;
  margin-right: 3px;
  margin-top: 2px;
}

.post_title_tag{
  padding-top: 20px;
  float: left;
  height: 100px;
}

.post_content{
  float: left;
  font-size: 15px;
  line-height: 1.5;
  width: 960px;
  color: #575859;
}

.post_content_image{
  width: 920px;
  clear: both;
}

h1 {
    margin: 50px 0 20px;
    font-size: 30px;
    color: #1f4e5e;
    font-weight: normal;
}
h2{
  color: #1f4e5e;
}

.post_content h1, h2, h3, h4 {
    font-weight: 400;
}
.post_content h1, h2, h3, h4, h5, p {
    margin-bottom: 15px;
    padding: 0;
}

.post_content h2 {
    font-size: 26px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
}
.post_content h3 {
    font-size: 24px;
}
.post_content h4 {
    font-size: 21px;
}
.post_content h5 {
    font-size: 18px;
}
.post_content a {
    color: #507ba0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.post_content ul, ol {
    padding: 0;
    margin: 0;
}
.post_content li {
    line-height: 24px;
    margin-left: 20px;
}
.post_content li ul, li ul {
    margin-left: 24px;
}
.post_content pre {
    padding: 10x;
    white-space: pre-wrap;
}
.post_content code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}

.post_content .read_all{
  float: left;
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 5px;
}

.read_all:hover{
  color:#58a8ec;
}

.post_content aside {
    display: block;
    float: right;
    width: 390px;
}
.post_content blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
}
.post_content blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
.post_content blockquote cite:before {
    content: '\2014 \00A0';
}

.post_content blockquote p {  
    color: #666;
}
.post_content hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(102,128,153,.15);
  line-height: 1.6
}

.post_content img{
  margin-bottom: 20px;
  clear: both;
}

.pagination li{
  float: left;
  list-style-type: none;
}


#disqus_thread{
  width: 960px;
  float: left;
}

#entry_body{
  float: left;
  margin: 0 0 0 0;
  color: #444;
  width: 100%;
  text-align: justify;
}

.table-striped-white tbody>tr:nth-child(2n+1)>td, .table-striped-white tbody>tr:nth-child(2n+1)>th {
  background-color: rgba(102,128,153,.05);
}

.table-bordered th, .table-bordered td {
  border: 1px solid #ddd;
  border-collapse:collapse; 
}

.table, .table th, .table td {
  padding: 8px 20px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-collapse:collapse; 
}

.table{
  width: 80%;
  margin-bottom: 20px;
}

td, th {
display: table-cell;
vertical-align: inherit;
}

.dsq-brlink{
  color:#fff;
}

 /*For project page*/
.project {
width: 100%;
min-height: 130px;
margin: 20px 0px;
display: block;
clear: both;
}

.project img {
width: 120px;
height: 120px;
float: left;
background-color: white;
padding: 5px;
border-radius: 5px;
border: 1px solid #dedede;
margin: -5px 10px 5px 0px;
}

.project .intro {
margin: 5px 10px 5px 0px;
width: 100%;
}

.project .intro ul {
list-style: none;
margin-left: 0;
}

.project .intro ul li:first-child {
font-size: 20px;
padding-bottom: 5px;
margin-bottom: 10px;
border-bottom: 1px #eee solid;
}
.project .intro ul li {
line-height: 20px;
}